body
{
background-color: rgba(235, 203, 165, 0.884);
}

.container
{
background-color: rgba(174, 238, 217, 0.877);
padding: 10px;
display: inline-block;
border-radius: 10px;
text-align: center;
margin: 30px;
border: 5px solid  rgb(155, 73, 73);
align-items: center;
}

p
{
font-style:bold;
font-size: 20;
}

.image img
{
height: 170px;
width: 170px;
border-radius: 50%;
border: 10px solid rgb(155, 73, 73);
align-items: center;
}
